// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo-title {
  font-family: 'Caesar Dressing', cursive;
  color: #ff6600;
  font-size: 12em;
  text-align: center;
}

#welcome-message {
  color: #e0ebeb;
  text-align: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 2.5em;
}
